body {

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color:black;
	background-position: 0px 0px;  
}

#hexdump {
	background-color: black;
	width: 400px;
	height: 332px;
	margin: 25px auto 0 25px;
	float: left;
}

#console {
	background-color: black;
	width: 300px;
	height: 332px;
	margin: 25px 25px 0px 25px;
	float: right;
}

#topcont {
	color:#00FF00;
	background-color: black;
	width: 800px;
	height: 80px;
	/*float: bottom;*/
	overflow:hidden;
}

#volume{
	cursor: pointer;
	width: 26px;
	height: 26px;
	margin: 125px auto 50px 25px;
	left: 1246px;
	top:482px;
	position: absolute;
}
 
 #power{
	cursor: pointer;
	width: 26px;
	height: 26px;
	margin: 125px 25px 50px auto;
	left: 1162px;
	top:412px;
	position: absolute;
	z-index: -15;
}

#help{
	cursor: pointer;
	width: 26px;
	height: 26px;
	margin: 125px 25px 50px auto;
	left: 1118px;
	top:-20px;
	position: absolute;
	z-index: -15;
}

#cnslresponse{
	color:#00FF00;
	height: 332px;
	margin: 1px 2px 2px 2px;
}

.defaultbackground{
	background-image: url('../images/background-on_music-on.png');
}

.musicoffbackground{
	background-image: url('../images/background-on_music-off.png');
}

.offbackground{
	background-image: url('../images/background-off.png');
}

.offterminal{
	display: none;
}

.offhelp{
	display: none;
}

.hexcol{
	color:#00FF00;
	column-count:1;
	/*width: 50px;*/
	height: 332px;
	float: left; width: 20%;
}

.passcol{
	color:#00FF00;
	column-count:1;
	/*width: 75px;*/
	height: 332px;
	float: left; width: 30%;
}

/*http://stackoverflow.com/questions/20566660/3-column-layout-html-css*/

/* terminal.css
 * Display rules for the display inside the computer screen for the HB game
 * Rob Murrer
*/

#terminal-container
{
	font:18px  "Lucida Console", monospace, serif;
	color:#00FF00;
	background-color: black;
	width: 865px;
	height: 437px;
	/*margin: 100px auto 100px auto;
	overflow:hidden;*/
	letter-spacing: initial;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: absolute;
	left:230px;
	top: 114px;
	z-index: 1;
}

#help-container
{
	font:13px  "Lucida Console", monospace, serif;
	color: #42B9E7;
	background-color: black;
	width: 865px;
	height: 437px;
	font-size: 1.2em;
	letter-spacing: initial;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: absolute;
	left:230px;
	top: 114px;
	opacity: 1;
	z-index: 3;
}

#info
{
    height: 90px;
    background-color: black;
}

#addresses-1, #addresses-2, #characters-1, #characters-2, #console
{
    float: left;
    height: 310px;
    margin-left: 20px;
}

#addresses-1, #addresses-2
{
    width: 84px;
    background-color: black;
}

#characters-1, #characters-2
{
    width: 140px;
    background-color: black;
    /*word-break: break-all;*/
}

#addresses-1, #addresses-2, #characters-1, #characters-2
{
	text-transform: uppercase;
}

#console
{
    width: 220px;
    background-color: black;
	overflow: hidden;
    /*margin-left: 30px;*/
}

.characters-1, .characters-2 {
	word-break: break-all;
}
.js-word-hover {
	color: black;
	background: #00FF00;
}
