/* terminal.css
 * Display rules for the display inside the computer screen for the HB game
 * Rob Murrer
*/


#terminal-container
{
    width: 870px;
    height: 450px;
    background: #000;
    margin: 100px auto;
    color: #FFF;
    font-family: 'Inconsolata';
}

#info
{
    height: 110px;
    background-color: #333;
}


#addresses-1, #addresses-2, #characters-1, #characters-2, #console
{
    float: left;
    height: 310px;
    margin-left: 20px;

}


#addresses-1, #addresses-2
{
    width: 84px;
    background-color: #222;
}

#characters-1, #characters-2
{
    width: 172px;
    background-color: #111;
}

#console
{
    width: 240px;
    background-color: #444;
    margin-left: 30px;
}


